# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\djnago project\pubTechnicalRanjit\TechnicalRanjit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
